<style>
  body {
    background-color: powderblue;
  }
  #imagediv {
    position : fixed;
    left : 700px;
    top : 100px;
  }
  #image_canvas {
    position:fixed;
    left : 700px;
    top : 100px;
    z-index:20;
  }
  #clear_canvas {
    position: relative;
  }
</style>
<h3>Main Page</h3>
<form action="/main_page" class="inline">
  <button>Home</button>
</form>
<div class="image_div" id='imagediv'>
  {% if url %}
    <img src={{ url }} id="user_image">
    <canvas id="image_canvas" width={{ width }} height={{ height }}></canvas></br>
  {% else %}
    <img id="user_image">
    <canvas id="image_canvas"></canvas></br>
  {% endif %}
  <input type="button" onclick="clearCanvas()" id="clear_canvas" value="Clear">
</div>
<h2>Load Image</h2>
<form id="load_image" enctype="multipart/form-data">{% csrf_token %}
    <input id="image_name" type="hidden" name="image_name" value={{ image_name }}>
    <input id="id_image" type="file" class="" name="image" accept="image/*">
    <input type="submit" value="Upload" />
</form>
<h2>Add Rule</h2>
<form id='add_rule'> {% csrf_token %}
    <input type="hidden" id='imgname' name="image_name" value={{ image_name }}><br>
    Username: <input type="text" id='usrname' name="username" required><br>
    Shape:    <select name="shape" id="shape">
    <option value="CIRCLE">CIRCLE</option>
    <option value="RECTANGLE">RECTANGLE</option>
    <option value="POLYLINE">POLYLINE</option>
    </select><br/>
    Action:   <select name="action" id="action">
    <option value="ALLOW">ALLOW</option>
    <option value="DENY">DENY</option>
    <option value="BLUR">BLUR</option>
    </select><br/>
    Rule Position: <input type="number" id="rule_pos" step="1" name="rule_pos"><br>
    <input type='submit' value='Add Rule'>
</form>
<h2>Set default action</h2>
<form id="set_default"> {% csrf_token %}
    <input type="hidden" id="iname" name="image_name" value={{ image_name }}>
    Default Action:   <select name="action" id="default_action">
    <option value="ALLOW">ALLOW</option>
    <option value="DENY">DENY</option>
    <option value="BLUR">BLUR</option>
    </select><br/>
    <input type='submit' value='Set Default'>
</form>
<h2>Del Rule</h2>
<form id="del_rule"> {% csrf_token %}
    <input type="hidden" id="imname" name="image_name" value={{ image_name }}>
    <ul id="rule_list">
      {% for rule in rules %}
        <li class='{{ rule }}'><input type="radio" class="rule_select" name="rule" value="{{ rule }}">{{ rule }}</li>
      {% endfor %}
    </ul>
    <input type="submit" value='Del Rule'>
</form>
<h2>Get Image</h2>
<form action='/get_owner_image/' method='POST'> {% csrf_token %}
    <h3>Please load an image if you haven't done it before</h3>
    <input type="hidden" name="image_name" value={{ image_name }}><br>
    <input type='submit' value='Get Image'>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).on('submit','#set_default', function(e){
  e.preventDefault();

  var def_act = $('#default_action option:selected').val();
  $.ajax({
    type:'POST',
    url:'/set_default/',
    data: {
      image_name:$('#iname').val(),
      action:def_act,
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
    },
    success:function(){
        alert("Default action is set as " + def_act);
    }
  });
});

</script>

<script type="text/javascript">
  $(document).on('submit','#del_rule', function(e){
    e.preventDefault();

    var selected_rule = $(".rule_select:checked").val();
    $.ajax({
      type:'POST',
      url:'/del_rule/',
      data: {
        image_name:$('#imname').val(),
        rule:$(".rule_select:checked").val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success:function(){
          $("#rule_list li").remove(':contains(' + selected_rule + ')')
          alert("Rule deleted!");
      }
    });
  });
</script>

<script type="text/javascript">

var pos;

function drawCircle(x1, y1, x2, y2) {

    var radiusX = (x2 - x1) * 0.5,   /// radius for x based on input
        radiusY = (y2 - y1) * 0.5,   /// radius for y based on input
        step = 0.01,                 /// resolution of ellipse
        a = step,                    /// counter
        pi2 = Math.PI * 2 - step;    /// end angle

    var centerX, centerY, radius;

    if(x2 - x1 > y2 - y1) {
      radius = (y2 - y1) * 0.5
    } else {
      radius = (x2 - x1) * 0.5
    }

    centerX = x1 + radius;
    centerY = y1 + radius;


    ctx.beginPath();

    ctx.moveTo(centerX + radius * Math.cos(0),
               centerY + radius * Math.sin(0));

    /// create the ellipse
    for(; a < pi2; a += step) {
        ctx.lineTo(centerX + radius * Math.cos(a),
                   centerY + radius * Math.sin(a));
    }

    pos =  String(Math.floor(Math.abs(centerX))) + ',' + String(Math.floor(Math.abs(centerY))) + ',' + String(Math.floor(Math.abs(radius)));
    /// close it and stroke it for demo
    ctx.closePath();
    ctx.strokeStyle = '#000';
    ctx.stroke();
}

function drawRectangle(x1, y1, x2, y2) {
  ctx.beginPath();

  ctx.moveTo(x1, y2);
  ctx.lineTo(x1 , y1);
  ctx.moveTo(x2, y1);
  ctx.lineTo(x1 , y1);
  ctx.moveTo(x1 , y2);
  ctx.lineTo(x2,y2);
  ctx.moveTo(x2,y1);
  ctx.lineTo(x2,y2);

  pos =  String(Math.floor(Math.abs(x1))) + ',' + String(Math.floor(Math.abs(y1))) + ',' + String(Math.floor(Math.abs(x2))) + ',' + String(Math.floor(Math.abs(y2)));

  ctx.closePath();
  ctx.strokeStyle = '#000';
  ctx.stroke();
}

function drawLine(x1, y1, x2, y2) {
  ctx.beginPath();
  ctx.moveTo(x1,y1);
  ctx.lineTo(x2,y2);

  ctx.closePath();
  ctx.strokeStyle = '#000';
  ctx.stroke();
}

var canvas = document.getElementById('image_canvas'),
    ctx = canvas.getContext('2d'),
    w = canvas.width,
    h = canvas.height,
    x1,                 /// start points
    y1,
    isDown = false;     /// if mouse button is down
    polylinePoints = [];

function clearCanvas() {
    ctx.clearRect(0, 0, w, h);
    polylinePoints = [];
}
/// handle mouse down
canvas.onmousedown = function(e) {

    /// get corrected mouse position and store as first point
    var rect = canvas.getBoundingClientRect();
    x1 = e.clientX - rect.left;
    y1 = e.clientY - rect.top;
    isDown = true;

}

/// clear isDown flag to stop drawing
canvas.onmouseup = function(e) {
    isDown = false;

    if($('#shape option:selected').val() == 'POLYLINE') {
      var rect = canvas.getBoundingClientRect(),
          x2 = e.clientX - rect.left,
          y2 = e.clientY - rect.top;

      drawLine(x1,y1,x2,y2);
      polylinePoints.push(x1);
      polylinePoints.push(y1);
      console.log(polylinePoints)
    }

}

/// draw ellipse from start point
canvas.onmousemove = function(e) {

    if (!isDown) {
      return;
    }

    var rect = canvas.getBoundingClientRect(),
        x2 = e.clientX - rect.left,
        y2 = e.clientY - rect.top;

    if($('#shape option:selected').val() == 'CIRCLE') {
      clearCanvas();
      drawCircle(x1, y1, x2, y2);
    } else if($('#shape option:selected').val() == 'RECTANGLE') {
      clearCanvas();
      drawRectangle(x1, y1, x2, y2);
    }
}

$(document).on('submit','#add_rule', function(e){
  e.preventDefault();
  var selected_shape = $('#shape option:selected').val();
  var selected_action = $('#action option:selected').val();

  if(selected_shape == 'POLYLINE') {
    if(polylinePoints.length == 0) {
      return;
    }
    pos = "[";
    for(var i = 0; i < polylinePoints.length - 2; i = i+2) {
      pos += '(' + polylinePoints[i] + ', ' + polylinePoints[i+1] + '), ';
    }
    pos += '(' + polylinePoints[i] + ', ' + polylinePoints[i+1] + ')]';
    polylinePoints = [];
  }

  $.ajax({
    type:'POST',
    url:'/add_rule/',
    data: {
      image_name:$('#imgname').val(),
      username:$('#usrname').val(),
      shape: selected_shape,
      shape_pos: pos,
      action: selected_action,
      rule_pos:$('#rule_pos').val(),
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
    },
    success:function(data){
        if(selected_shape == 'POLYLINE') {
          var final_shape = '(\'' + selected_shape + '\', ' + pos + ')'; // ("POLYLINE", [(25, 25), (25, 50), (50, 50)])
          var final_rule = '(\'' + $('#usrname').val() + '\', ' + final_shape + ', \'' + selected_action + '\')';   // ("ali",("POLYLINE",[(25,25),(25,50),(50,50)]),"DENY")
          $("#rule_list").append('<li class=' + final_rule + '><input type=\'radio\' class=\'rule_select\' name=\'rule\' value=\"' + final_rule + '\">' + final_rule + '</li>')
        } else {
          data = data.replace(/\[/g ,'(');
          data = data.replace(/\]/g ,')');
          data = data.replace(/\"/g, '\'')
          $("#rule_list").append('<li class=' + data + '><input type=\'radio\' class=\'rule_select\' name=\'rule\' value=\"' + data + '\">' + data + '</li>')
        }
        alert("Rule added!");
    }
  });
});

$(document).on('submit','#load_image', function(e){
  e.preventDefault();

  var formData = new FormData();
  var image = $('input[type=file]')[0].files[0]
  formData.append("image", image);
  formData.append("image_name", $('#image_name').val());
  formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());

  $.ajax({
    type:'POST',
    url:'/load_image/',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success:function(response){
        var url = response.url
        var image_width = response.width
        var image_height = response.height
        var img = $('#user_image');
        img.attr('src', url);
        img.attr('width', image_width);
        img.attr('height', image_height);
        $('#image_canvas').attr('width', image_width);
        $('#image_canvas').attr('height', image_height);
        $('#rule_list li').remove();
        w = image_width;
        h = image_height;
        alert("Image uploaded successfully");
    },
    error:function(){
        alert("Failed to upload image");
    }
  });
});

</script>
